{% extends 'email/template/template.html.twig' %}

{% block content %}
    <p>
        Vous avez souhaité pouvoir redéfinir votre mot de passe sur Bubble.lgbt.
    </p>
    <p>
        Nous vous invitons à cliquer sur le lien suivant :
    </p>
    <button class="large expand mb-0 success" href="{{ absolute_url(path('forgot_password_token',
        {
            'token': forgot.token,
        }
    )) }}">
        Redéfinir mon mot de passe
    </button>
{% endblock %}