<li data-user-slug="{{ user.slug }}">
    {{ include('@User/button/_user.html.twig',
        {
            'user': user,
        },
        with_context = false
    ) }}
    {{ null|button_link(
        path('user_follow',
            {
                'slug': user.slug,
            }
        ),
        '_delete_',
        null,
        true,
        {
            'class': 'btn-sm user-follow-page',
            'data-user-slug': user.slug,
        }
    ) }}
</li>